@{
    ViewData["Title"] = "About";
}
<h2>iTunes Search</h2>
<h3>A Simple Tool to Search the iTunes Store</h3>

<div>This is a simple tool used to search the iTunes store. Users can search</div>
<div>for anything, including songs, artists, albums, books, movies, podcasts,</div>
<div>or apps. The information is returned in a nice, easy to understand table</div>
<div>that includes information like title, collection, artist, price, and a link to</div>
<div>the item in the iTunes store.</div>
